{
"env": {
    "cypress/globals": true
},
"extends": "airbnb",
"rules" : {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "array-callback-return": "off"
},
"globals": {
    "window": true,
    "localStorage": true
},
"plugins": [
    "react", "jest", "cypress"
]
}