.main-container {
    background-color: #191e36;
    height: 100%;
    position: relative;
    color: white;
}

.blog-card{
    position: relative;
    height: 400px;
    width: 300px;
    text-align: center;
    background-color: #231A03;
    border-radius: 5px;
    margin: 20px;
    transition: transform 0.2s;
}

.blog-card:hover {
    transform: scale(1.05);
}

.cards-container {
    display: flex;
    justify-self: flex-start;
    flex-wrap: wrap;
}

.blog-image {
    width: 300px;
    max-width: 300px;
}

.blog-header{
  position: relative;
  margin-bottom: 5px;
}

.author-avatar {
    position: absolute;
    left: 5%;
}

.blog-button {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, 0);
}

.blog-star {
    position: absolute;
    display: flex;
    top: 2%;
    left: 4%;
}

#star {
    color: gold;
}

.blog-button #blog-link {
    text-decoration: none;
}

.blog-date{
    position: absolute;
    right: 2%;
    top: 2%;
}

#blog-stars-count {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2px;
}
.blog-author-username {
    font-size: 0.8em;
}
.blog-title h1 {
    margin-bottom: 0;
}

#main-blog-link{
    text-decoration: none;
    color: white
}