.main-header-container{
    color: black;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    height: 6vh;
    background-color: white;
    overflow: hidden;
}

.main-header-container a{
    text-decoration: none;
}

.header-link-container {
    margin: auto;
    display: flex;
    cursor: pointer;
   margin-top: 0;
   margin-bottom: 0;
  
}

.header-link{
    width: 9vw;
    height: 100%;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-link h1{
    margin: 0;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

.header-link:hover {
    background-color: #191e36;
    color: white
}

.header-link:hover h1{
    color: white
}

.header-link a{
    text-decoration: none;
}

.header-title{
    font-size: 1.5em;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

.header-title h1{
    font-size: 1.5em;
    margin: 0;    
}



#header-search-icon {
    font-size: 1.8em;
    margin: auto;
    cursor: pointer;
}

.notification-container{
    position: relative;
    margin: auto;
    cursor: pointer;
}

.notification-count {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: red;
    border-radius: 50%;
    padding: 10%;
    width: 10px;
    height: 10px;
}

.notification-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1em;
    font-weight: 900;
    text-align: center;
}

#notifications-bell{
    font-size: 1.8em;
}

.read-notification {
    text-decoration: line-through;
}

.notification-message{
    cursor: pointer;
    margin: 20px;
}

.notification-menu-content {
    max-height: 50vh;
    width: 20vw;
    overflow-y: scroll;
}