.main-header-container{
    color: black;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    height: 6vh;
    background-color: white;
    overflow: hidden;
    position: relative;
}

.main-header-container a{
    text-decoration: none;
}

.header-link-container {
    display: flex;
    cursor: pointer;
    position: absolute;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
}

.header-link{
    width: 9vw;
    height: 100%;
    display: flex;
    min-width: fit-content;
    justify-content: center;
    align-items: center;
    justify-self: center;
    transition: background-color 0.5s;
}

.header-link h1{
    margin: 0;
    text-decoration: none;
    color: black;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 1.3em;
    font-family: helvetica, sans-serif;
}

.header-link:hover {
    background-color: #191e36;
    color: white
}

.header-link:hover h1{
    color: white;
}

.header-link a{
    text-decoration: none;
}

.header-title{
    font-size: 1.5em;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    justify-self: flex-start;
}

.header-title h1{
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0; 
    font-family: helvetica, sans-serif;
}

#header-search-icon {
    font-size: 1.8em;
    margin: auto;
    cursor: pointer;
}

.notification-container{
    position: relative;
    margin: auto;
    cursor: pointer;
}

.notification-count {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: red;
    border-radius: 50%;
    padding: 10%;
    width: 10px;
    height: 10px;
}

.notification-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1em;
    font-weight: 900;
    text-align: center;
}

#notifications-bell{
    font-size: 1.8em;
    margin-left: 10px;
}

.read-notification {
    text-decoration: line-through;
}

.notification-message {
    cursor: pointer;
    margin: 20px;
    display: flex;
    align-items: center;
}

.no-notifications-message {
    margin: 20px;
}

/* .notification-message:hover {
    font-weight: bold;
} */
.notification-message-content {
    display: flex;
    flex-direction: column;
}

.notification-menu-content {
    max-height: 50vh;
    width: fit-content;
    overflow-y: auto;
    outline: none;
}


.notification-menu-content ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#notification-check-icon {
    margin-left: 10px;
}

.header-link.map-page  {
    color: white;
    background-color: #191e36;
}

.header-link.blogs-page  {
    background-color: #191e36;
}

.header-link.gallery-page {
    background-color: #191e36;
    color: white;
}

.header-link.gallery-page h1, .header-link.blogs-page h1 {
    color: white;
}

.header-top-right-icons {
    display: flex;
    align-items: center;
}

#burger {
    display: none;
}

#burger-blogs {
    display: none;
}

#burger-gallery {
    display: none;
}

#burger-explore {
    display: none;
}

@media (max-width: 800px){
    #burger {
        display: block;
        align-self: center;
        margin-right: 10px;
        font-size: 2em;
        cursor: pointer;
    }

    #burger-blogs, #burger-gallery, #burger-explore {
        display: block;
        color: black;
        text-decoration: none;
    }

    #header-user-avatar, #notifications-bell {
        display: none;
    }

    .header-top-right-icons {
        margin-left: auto;
    }

    .header-link {
        display: none;
    }
}