.homepage-main-container {
    background-color: #191e36;
    height: 94vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.homepage-main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.newest-blogs {
    width: fit-content;
    text-align: center;
    display: block;
    color: white;
}

.newest-blogs h1 {
    height: 15%;
    margin: 0;
}

#newest-blogs-header {
    margin-top: 24.44px
}

.homepage-blogs {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.homepage-section-title{
    color: #ffffff;
    font-size: 2rem;
    margin-top: 5px;
    background-color: rgb(34, 34, 36);
    padding: 5px 10px;
    width: fit-content;
    align-self: center;
}

.homepage-blog {
    height: fit-content;
    min-height: 12vh;
    max-width: 650px;
    min-width: 400px;
    width: 30vw;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

.homepage-blog-wrapper {
    width: fit-content;
    height: 85%;
    border-top: 2px solid black;
}

.homepage-blog-image {
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto;
}

.homepage-blog-image img {
    max-height: 150px;
    height: auto;
    width: 130px;
    object-fit: fill;
    transition: transform 0.7s;
    margin-top: 5px;
    margin-bottom: 5px;
}

.homepage-blog-info {
    text-align: left;
    max-width: 70%;
    margin-top: auto;
    margin-bottom: auto;
    word-wrap: break-word;
}

.homepage-blog-info p {
    margin-left: 5px;
}

.homepage-blog-info h2 {
    margin: 5px;
}

.homepage-blog:hover h2, .homepage-blog:hover p {
    color: rgb(180, 155, 9);
}

.homepage-blog:hover .homepage-blog-image img {
    transform: scale(1.2);
    transition: transform 3s;
}

.home-page-top-section {
    height: 50vh;
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
}

.home-page-top-section img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-width: 100%;
    filter: grayscale(50%);
    transition: transform 3s;
}

.home-page-top-section:hover img {
    transform: scale(1.05);
}

#homepage-picture-link:hover {
    color: rgb(180, 155, 9);
}

#homepage-blog-date {
    font-size: 0.8em;
    color: rgb(86, 93, 99);
}

.home-page-top-section-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0, 0.4);
    z-index: 99;
    position: absolute;
    top: 0%;
    left: 0%;
}

.home-page-top-blog-info {
    height: 100%;
    width: 30%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    font-size: 1.5em;
}

.home-page-top-blog-info  h1 {
  margin: 5px 0px 0px 0px;
}

.homepage-top-picture-container {
    text-align: center;
    position: sticky;
    top: 20px;
    color: #b4093c;
    width: fit-content;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage-picture img {
    height: auto;
    width: 100%;
    max-height: 300px;
    object-fit: fill;
}

.homepage-picture {
    text-align: center;
    background-color: rgb(255, 255, 255);
    height: fit-content;
    max-width: 400px;
    min-width: 400px;
    padding: 15px 15px 0px 15px;
}

.homepage-picture a {
    text-decoration: none;
}

.homepage-picture:hover {
    cursor: pointer;
}

.homepage-picture:hover .homepage-picture-bottom-section >*{
    cursor: pointer;
    color: rgb(180, 155, 9);
}

.homepage-picture-bottom-section {
    padding: 10px;
    font-family: 'Kaushan Script', cursive;
    font-size: 1.5rem;
}

.homepage-picture-bottom-section h3  {
    margin: 0px;
    color: rgb(51, 47, 47);
    word-break: break-all;
    width: 100%;
}

#homepage-featured {
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
    background-color: red;
    padding: 10px;
    font-size: 0.6em;
    font-weight: 500;
}

@media (max-width: 1100px) {
    .home-page-top-blog-info {
        width: 50%;
    }

    .homepage-top-picture-container {
        display: none;
    }
}

@media (max-width: 700px) {
    .home-page-top-blog-info {
        width: 70%;
    }
}