.homepage-main-container {
    background-color: #191e36;
    height: 94vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.homepage-main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.newest-blogs {
    width: 30vw;
    max-width: fit-content;
    text-align: center;
    display: block;
    color: white;
}

.newest-blogs h1 {
    height: 15%;
    margin: 0;
}

#newest-blogs-header {
    margin-top: 24.44px
}

.homepage-blogs {
    display: flex;
    justify-content: center;
}

.homepage-blog {
    height: fit-content;
    min-height: 12vh;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

.homepage-blog-wrapper {
    width: fit-content;
    height: 85%;
    border-top: 2px solid black;
}

.homepage-blog-image {
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto;
}

.homepage-blog-image img {
    max-height: 100%;
    width: 130px;
    object-fit: fill;
    transition: transform 0.7s;
}

.homepage-blog-info {
    text-align: left;
    max-width: 70%;
    margin-top: auto;
    margin-bottom: auto;
}

.homepage-blog-info p {
    margin-left: 5px;
}

.homepage-blog-info h2 {
    margin: 5px;
}

.homepage-blog:hover h2, .homepage-blog:hover p {
    color: rgb(180, 155, 9);
}

.homepage-blog:hover .homepage-blog-image img {
    transform: scale(1.2);
    transition: transform 3s;
}

.home-page-top-section {
    height: 50vh;
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
}

.home-page-top-section img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-width: 100%;
    filter: grayscale(50%);
    transition: transform 3s;
}

.home-page-top-section:hover img {
    transform: scale(1.05);
}

#homepage-swiper {
    width: 26vw;
    height: 18vw;
    margin: 0;
    position: sticky;
    top: 5%;
}

#homepage-swiper .swiper-slide{
    height: 100%;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    margin: 0;
}

#homepage-swiper .swiper-slide img{
    object-fit: contain;
    height: 80%;
    width: 100%;
}

.homepage-swiper-container {
    position: relative;
}

.homepage-swiper-title {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

#homepage-picture-link:hover .homepage-swiper-title {
    color: rgb(180, 155, 9);
}

#homepage-blog-date {
    font-size: 0.8em;
    color: rgb(86, 93, 99);
}

.home-page-top-section-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0, 0.4);
    z-index: 99;
    position: absolute;
    top: 0%;
    left: 0%;
}

.home-page-top-blog-info {
    height: 100%;
    width: 30%;
    /* background: red; */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    font-size: 1.5em;
}

.home-page-top-blog-info  h1 {
  margin: 5px 0px 0px 0px;
}


#homepage-featured {
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
    background-color: red;
    padding: 10px;
    font-size: 0.6em;
    font-weight: 400;
}