.image-upload-modal-main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  background-image: url("../images/imagemodalbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
  color: white;
  outline: 2px solid black;
}

.upload-modal-middle-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.603);
  border-radius: 20px;
}

.upload-modal-middle-container.first-step {
  background: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.upload-modal-midddle-content {
  width: 300px;
  height: 350px;
  text-align: center;
}

.upload-modal-midddle-content.first-step {
  height: fit-content;
}


#upload-modal-choose-image-button  {
  background-color: red;
}

.upload-modal-image-form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#upload-modal-file-label {
  display: inline-block;
  background-color: rgb(41, 56, 107);
  cursor: pointer;
  padding: 20px;
  border-radius: 10px;
}

#upload-modal-file-label:hover {
  background-color: rgb(52, 69, 126);
}

.upload-modal-preview-container {
  position: absolute;
  right: 2%;
  top: 3%;
  width: 25%;
  height: 94%;
  text-align: center;
  border: 2px solid black;
  border-radius: 2%;
  overflow: hidden;
  background-color: #1d1f1e;
  transition: all 0.7s ease-out;
}

.upload-modal-preview-container.final-step {
  position: absolute;
  right: 50%;
  top: 50%;
  width: 25%;
  height: 94%;
  transform: translate(50%, -50%);
}

.upload-modal-image-preview {
  position: relative;
}

.upload-modal-preview-close-button {
  position: absolute;
  top: 0px;
  right: 0px;
  transform: translate(50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-weight: 700;
  background-color: rgb(46, 39, 39);
  color: white;
  border: 2px solid black;
  cursor: pointer;
  outline: none;
}

.upload-modal-preview-close-button:hover {
  background-color: rgb(182, 13, 13);
}

.image-upload-preview-table {
  text-align: left;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.image-upload-preview-table td {
  width: 150px;
}

.image-upload-preview-table tr h3{
  text-align: center;
}

.image-modal-preview-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 3%;
}

#upload-progress-bar {
  margin-bottom: 10px;
  width: 90%;
}

#image-modal-upload-button {
  background-color: rgb(25, 182, 11);
  color: white;
  font-size: 2vh;
}

#image-modal-upload-button:hover {
  background-color: rgb(48, 219, 33);
  transform: scale(1.02);
}

#image-modal-preview-cancel-button {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, 0px);
  cursor: pointer;
  background-color: rgb(151, 20, 20);
  color: white;
}

#image-modal-preview-cancel-button:hover {
  background-color: rgb(179, 55, 55);
}

#image-modal-final-cancel-button {
  position: absolute;
  bottom: 3px;
  background-color: rgb(30, 34, 32);
  color: white;
  left: 14px;
  z-index: 5;
}


#image-modal-final-cancel-button:hover {
  background-color: rgb(51, 58, 54); 
}

.upload-modal-publicicity-select-buttons {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

#upload-modal-yes-button {
  background-color: rgb(27, 90, 27);
  margin-right: 5px;
  width: 80px;
  height: 50px;
  color: white;
}

#upload-modal-yes-button:hover {
  background-color: rgb(31, 133, 31);
}

#upload-modal-no-button {
  background-color: rgb(141, 19, 19);
  margin-left: 5px;
  width: 80px;
  height: 50px;
  color: white;
}

#upload-modal-no-button:hover {
  background-color: rgb(177, 29, 29);
}

#image-upload-title-input {
  background-color: rgba(48, 42, 42,0.4);
  color: white;
}

#upload-modal-next-button {
  background-color: rgb(41, 41, 126);
  margin-top: 10px;
  color: white;
  float: right;
}

#upload-modal-next-button-first {
  background-color: rgb(41, 41, 126);
  margin: 5px 5px 0px 0px;
  color: white;
}

#upload-modal-next-button:hover, #upload-modal-next-button-first:hover {
  background-color: rgb(56, 56, 179);
}

#upload-modal-back-button, #upload-modal-map-back-button {
  margin-top: 10px;
  background-color: rgb(30, 34, 32);
  color: white;
  float: left;
}

#upload-modal-map-back-button {
  position: absolute;
  bottom: 1%;
  left: 1%;
  z-index: 1;
}

#upload-modal-back-button:hover, #upload-modal-map-back-button:hover {
  background-color: rgb(110, 101, 101);
}

.upload-modal-preview-container h3 {
  color:rgb(129, 129, 129)
}

.upload-modal-map-select {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#upload-modal-map-button {
  cursor: pointer;
  font-size: 3rem;
}

#upload-modal-search-input {
  padding: 10px;
  border: none;
}

#upload-modal-search-input:focus {
  outline: 3px solid rgb(41, 41, 126);
}

#upload-modal-search-button{
  padding: 5px;
  cursor: pointer;
  margin-left: 5px;
  background-color: rgb(58, 53, 53);
  color: white;
  border-radius: 5px;
}

#upload-modal-search-button:hover {
  background-color: rgb(90, 79, 79);
}

.image-modal-search-result {
  margin-top: 20px;
  max-height: 250px;
  overflow-y: auto;
}

.image-modal-search-result table{
 width: 100%;
 text-align: left;
}

.image-modal-search-result .location-result-select-button {
  background-color: rgb(30, 34, 32);
  height: 30px;
  width: 50px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
}
.image-modal-search-result .location-result-select-button:hover {
  background-color: rgb(43, 49, 46);
}

.image-modal-search-result .location-result-prev-button {
  background-color: rgb(41, 41, 126);
  margin-top: 10px;
  border-radius: 5px;
  height: 30px;
  color: white;
}

.image-modal-search-result .location-result-next-button {
  background-color: rgb(41, 41, 126);
  margin-top: 10px;
  border-radius: 5px;
  height: 30px;
  color: white;
}

.image-modal-search-result .location-result-bottom-buttons {
  text-align: right;
}


#image-upload-modal-title {
  width: fit-content;
  background-color: rgb(0,0,0);
  padding: 8px;
  border-radius: 5px;
  text-align: 'center',
}

#image-modal-progress-circle {
  color: white;
}

#image-upload-help-icon {
  font-size: 2.3rem;
}

@media (max-width: 1700px) {
  .image-upload-modal-main-container {
    width: 85%;
    height: 85%;
  }
  .upload-modal-middle-container {
    left: 40%;
  }
}

@media (max-width: 1400px) {
  .upload-modal-preview-container {
    width: 30%;
  }

  .upload-modal-preview-container.final-step {
    width: 30%;
  }
}
@media (max-width: 1200px) {
    .upload-modal-preview-container.final-step {
    width: 50%;
  }
  .upload-modal-preview-container.final-step {
    width: 40%;
  }
  .upload-modal-middle-container {
    left: 27%;
  }
  .upload-modal-preview-container {
    width: 35%;
  }
}

@media (max-width: 1000px) {
  .upload-modal-preview-container.final-step {
    width: 50%;
  }
  .upload-modal-preview-container {
    width: 40%;
  }
  #image-upload-modal-title {
    display: none;
  }
}

@media (max-width: 760px) {
  .upload-modal-middle-container {
    font-size: 0.8em;
  }

  .upload-modal-preview-container {
    width: 45%;
  }
  .upload-modal-midddle-content {
    width: 200px;
    height: 300px;
  }
}

@media (max-width: 700px) {
  .upload-modal-preview-container {
    display: none;
  }
  .upload-modal-preview-container.final-step {
    display: block;
    width: 70%;
  }
  .upload-modal-middle-container {
    left: 50%;
  }
}