.new-blog-main-container{
    /* background-color: rgb(16, 16, 56); */
    height: 94vh;
    width: 70vw;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    
}

.new-blog-info-container {
    /* background-color: rgb(105, 84, 84); */
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%,0);
    
}


.new-blog-next-button {
    position: absolute;
    right: 5%;
    bottom: 5%;
    
}

.new-blog-textfield {
    margin: 30px;
}

.user-image-modal-pictures{
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    
}
.user-image-modal-pictures img{
    width: 30%;
    height: 40%;
    object-fit: contain;
    cursor: pointer;
}

.user-image-modal-content {
    text-align: center;
    background-color: #33302a;
}
.user-image-modal-content  .MuiButton-root  {
    position: absolute;
    top: 0%;
    right: 0%;
}