.new-blog-main-container {
  position: relative;
  background-color: rgb(255, 255, 255);
  height: 92vh;
  max-height: 94vh;
  width: 70vw;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 10px;
}

.new-blog-info-container {
  height: 60vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#new-blog-back-button, #new-blog-next-button {
  color: white;
  background-color: rgb(26, 42, 110);
}

#new-blog-next-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

#new-blog-back-button {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

#new-blog-back-button:hover, #new-blog-next-button:hover {
  color: white;
  background-color: rgb(52, 72, 161);
}

.new-blog-textfield {
  margin: 30px;
}

.user-image-modal-pictures {
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.user-image-modal-pictures img {
  width: 30%;
  height: 40%;
  object-fit: contain;
  cursor: pointer;
}

.user-image-modal-content {
  text-align: center;
  background-color: #33302a;
  overflow-y: auto;
}

.user-image-modal-content .MuiButton-root {
  position: absolute;
  top: 0%;
  right: 0%;
}

.new-blog-stepper-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.location-select-wrapper {
  margin-top: 50px;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
}

.location-select-form {
  width: 400px;
  display: flex;
  flex-direction: column;
}
.location-select-form form {
  align-self: center;
  margin-bottom: 20px;
}

.location-select-form input {
  padding: 8px;
}

.location-select-form .location-result-select-button {
  display: inline-block;
 padding:0.35em 1.2em;
 border:0.1em solid #000000;
 margin:0 0.3em 0.3em 0;
 border-radius:0.12em;
 background-color: rgb(26, 27, 116);
 box-sizing: border-box;
 font-weight:300;
 color:#ffffff;
 text-align:center;
 cursor: pointer;
}

.location-select-form .location-result-select-button:hover {
  background-color: rgb(79, 86, 90);
}

.new-blog-search-table-wrapper {
  display: flex;
  justify-content: flex-end;
}

.new-blog-search-table-wrapper p{
  margin: auto;
}

.location-select-form table {
 border-spacing: 0;
 border-collapse: collapse;
 width: 100%;
}

.location-select-form table td{
  padding: 5px;
 }

.location-select-form table td:last-child{
  width: 72px;
 }
 
.location-select-form tr:nth-child(even) td:first-child, .location-select-form tr:nth-child(even) td:nth-child(2) {
  background-color: #ece8e8;
} 

.location-select-form .location-result-bottom-buttons {
  float: right;
  margin-right: 20px;
  margin-top: 10px;
}

.location-result-prev-button, .location-result-next-button {
 display: inline-block;
 padding:0.35em 1.2em;
 border:0.1em solid #000000;
 margin-left: 0.3em;
 border-radius:0.12em;
 box-sizing: border-box;
 background-color: rgb(255, 255, 255)(219, 204, 204);
 font-weight:300;
 color:#000000;
 text-align:center;
 cursor: pointer;
}

.location-result-prev-button:hover, .location-result-next-button:hover {
 background-color: rgb(64, 71, 75);
 color: white;
}

#new-blog-search-button {
  margin-left: 5px;
  background-color: rgb(64, 71, 75);
  color: white;
  font-size: 0.8rem;
}

#new-blog-search-button:hover {
  background-color: rgb(78, 86, 90);
}

.new-blog-bottom-navigation {
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.new-blog-selected-locations {
  width: 30%;
}

.new-blog-image-preview {
  position: relative;
  height: 200px;
  width: 200px;
  border: 2px solid black;
}

.new-blog-preview-image {
  height: 100%;
  position: relative;
}

.new-blog-image-preview .new-blog-preview-image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

#preview-image-close-button {
  background-color: rgb(49, 44, 44);
  border-radius: 50%;
  border: none;
  padding: 5px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0px;
  right: 0px;
  transform: translate(50%, -50%);
  cursor: pointer;
  font-weight: 900;
  outline: none;
  color: white;
}

#preview-image-close-button:hover {
  background-color: rgb(95, 86, 86);
}

#new-blog-input-label-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
}

#new-blog-description-textfield,
#new-blog-title-textfield {
  width: 300px;
  min-width: 300px;
}

#new-blog-preview-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  background-color: rgb(26, 42, 110);
  color: white;
}

#new-blog-preview-button:hover {
  background-color: rgb(52, 72, 161);
}

.new-blog-preview-buttons {
  position: absolute;
  bottom: 5%;
  right: 5%;
  display: flex;
  flex-direction: column;
}

#new-blog-preview-submit-button {
  background-color: rgb(26, 145, 85);
  font-size: 1.2em;
  min-width: 160px;
  margin-bottom: 5px;
  color: white;
}
#new-blog-preview-submit-button:hover {
  background-color: rgb(42, 201, 121);
}

#new-blog-preview-cancel-button {
  background-color: rgb(146, 28, 28);
  color: white;
  font-size: 1.2em;
  min-width: 160px;
  align-self: flex-end;
}

#new-blog-preview-cancel-button:hover {
  background-color: rgb(184, 50, 50);
}

.new-blog-submitted-content {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-blog-submitted-content a{
  text-decoration: none;
}

#new-blog-view-blog-button {
  background-color: rgb(36, 36, 146);
  font-size: 1.3em;
  margin-top: 20px;
  color: white;
}

#new-blog-view-blog-button:hover {
  background-color: rgb(49, 49, 177);
}

#new-blog-another-blog-button {
  margin-top: 20px;
}

.new-blog-stepper-container .MuiStepLabel-root.MuiStepLabel-horizontal.MuiStepLabel-alternativeLabel {
  cursor: pointer;
}

#new-blog-editor {
  height: 67vh;
}

#location-remove-button {
  background-color: rgb(64, 71, 75);
  color: white;
  padding: 4px 6px;
}

#location-remove-button:hover {
  background-color: rgb(78, 86, 90);
}
