.search-modal-container {
    position: absolute;
    box-sizing: border-box;
    padding: 20px;
    padding-right: 0px;
    top: 10%;
    left: 50%;
    width: 30vw;
    height: 70vh;
    background: rgb(24, 23, 31);
    transform: translate(-50%, 0);
    text-align: center;
    border-radius: 5px;
    overflow-y: hidden;
    overflow-x: hidden;
    color: white;
    line-height: 150%;
}

.search-modal-top {
    position: sticky;
    top: 0px;
    padding: 10px;
    min-height: fit-content;
}   

.searchmodal-filters {
    display: flex;
    justify-content: center;
}

#search-modal-input{
    margin-top: 10px;
    height: 40px;
    width: 80%;
}

#search-modal-close-button {
    position: absolute;
    top: 0px;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    outline: none;
    border: none;
    color: white;
    font-weight: bold;
    background-color: rgb(43, 43, 49);
}

#search-modal-close-button:hover {
    background-color: rgb(71, 71, 85);
}

.search-bottom-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 74%;
}
.search-bottom-container h2 {
    text-align: center;
    margin-bottom: 30px;
}

.search-bottom-section {
    width: 100%;
    margin: 5px;
}

.search-bottom-section li {
    list-style: none;
    text-align: left;
}

.search-bottom-section a {
   color: white;
   text-decoration: none;
}

.search-bottom-section a:hover {
    text-decoration: underline;
 }

.search-bottom-section ul {
   padding: 5px;
}

.search-result-table {
    width: 100%;
}

.search-result-table tr:nth-child(even){
    background-color: rgb(43, 48, 53)
}

.searchresult-left {
   width: 60%;
}

#search-result-button {
    background-color: rgb(39, 42, 49);
    font-size: 0.8rem;
    padding: 4px 8px;
    color: white;
    margin: 1px 3px;
}

#search-result-button:hover {
    background-color: rgb(60, 64, 73);
}

#search-result-button--disabled {
    background-color: rgba(36, 38, 43, 0.8);
    font-size: 0.8rem;
    padding: 4px 8px;
    color: rgb(51, 46, 46);
    margin: 1px 3px;
}

#search-modal-checkbox {
    color: blue;
    border: 10px solid yellow
}

@media (max-width: 1600px) {
    .search-modal-container {
        width: 40vw;
    }
}

@media (max-width: 1150px) {
    .search-modal-container {
        width: 50vw;
    }
}

@media (max-width: 870px) {
    .search-modal-container {
        width: 60vw;
        height: 80vh;
    }
}

@media (max-width: 750px) {
    .search-modal-container {
        width: 70vw;
    }
}

@media (max-width: 650px) {
    .search-modal-container {
        width: 85vw;
    }
}