.search-modal-container {
    position: absolute;
    box-sizing: border-box;
    padding: 20px;
    padding-right: 0px;
    top: 10%;
    left: 50%;
    width: 30vw;
    height: 70vh;
    background: rgb(24, 23, 31);
    transform: translate(-50%, 0);
    text-align: center;
    border-radius: 5px;
    overflow-y: hidden;
    overflow-x: hidden;
    color: white;
}

.search-modal-top {
    position: sticky;
    top: 0px;
    height: 20%;
    padding: 20px;
}   

.searchmodal-filters {
    display: flex;
    justify-content: center;
}

#search-modal-input{
    margin-top: 10px;
    height: 40px;
    width: 80%;
}

#search-modal-close-button {
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.search-bottom-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 74%;
}
.search-bottom-container h2 {
    text-align: center;
    margin-bottom: 30px;
}

.search-bottom-section {
    width: 100%;
    margin: 5px;
}

.search-bottom-section li {
    list-style: none;
    text-align: left;
}

.search-bottom-section a {
   color: white;
   text-decoration: none;
}

.search-bottom-section a:hover {
    text-decoration: underline;
 }

.search-bottom-section ul {
   padding: 5px;
}

.search-result-table {
    width: 100%;
}

.search-result-table tr:nth-child(even){
    background-color: rgb(43, 48, 53)
}

.searchresult-left {
   width: 60%;
}

.search-result-button {
    background-color: rgb(51, 68, 114);
    padding: 6px 10px;
    color: white;
    cursor: pointer;
    margin-right: 10px;
    outline: none;
}

.search-result-button:hover {
    background-color: rgb(33, 48, 92);
}

.search-result-button--disabled {
    outline: none;
    margin-right: 10px;
    background-color: rgba(13, 18, 32);
    padding: 6px 10px;
    color: rgb(49, 43, 43);
    cursor: not-allowed;
    /* text-decoration: line-through; */
}

#search-modal-checkbox {
    color: blue;
    border: 10px solid yellow
}

@media (max-width: 1600px) {
    .search-modal-container {
        width: 40vw;
    }
}

@media (max-width: 1150px) {
    .search-modal-container {
        width: 50vw;
    }
}

@media (max-width: 870px) {
    .search-modal-container {
        width: 60vw;
    }
}

@media (max-width: 750px) {
    .search-modal-container {
        width: 70vw;
    }
}

@media (max-width: 650px) {
    .search-modal-container {
        width: 85vw;
    }
}