  .fullscreen-image img {
    display: none;
  }
  
  .fullscreen-enabled .fullscreen-image img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .image-toggle-button {
    position: absolute;
    top: 23%;
    right: 28%;
    width: fit-content;
    background-color: #FFFFFF;
  }

  .vote-container {
    display: flex;
    margin-top: 20px;
  }

  #voted-star {
    color: gold
  }
  
  #vote-count {
    position: relative;
    margin-left: 10px;
    margin-top: auto; 
    margin-bottom: auto;
  }

  .author-container {
    display: flex;
  }

  .author-picture {
    margin-top: auto;
    margin-bottom: auto; 
  }

  .blog-info-container {
    display: flex;  
  }

  .blog-info-date {
    margin-top: auto;
    margin-bottom: auto; 
    margin-left: 5px;
  }

  .author-username {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
  }
  
  #blog-author-link {
    text-decoration: none;
    color: black;
  }

  #blog-title {
    text-align: center;
    font-size: 4em;
  }