  .fullscreen-image img {
    display: none;
  }
  
  .fullscreen-enabled .fullscreen-image img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .image-toggle-button {
    position: absolute;
    top: 23%;
    right: 28%;
    width: fit-content;
    background-color: #FFFFFF;
  }

  .vote-container-element {
    height: 33.333%;
  }