  .fullscreen-image img {
    display: none;
  }
  
  .fullscreen-enabled .fullscreen-image img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .vote-container-element {
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .picture-vote-container {
    box-sizing: border-box;
    background-color: #231A03;
    padding: 10px;
    margin-right: 10px;
    border-radius: 20%;
    color: white;
    width: fit-content;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly
  }

  .picture-vote-arrow {
    cursor: pointer;
  }

  .vote-arrow-placeholder {
    height: 24px;
    width: 24px;
  }

  .picture-list-container{
    height: 28vw;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 18vw;
    background-color: #231A03;
    border-radius: 10px;
    position: sticky;
    top: 10vh;
    color: white;
    text-align: center;
  }

  .picture-list-top {
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    height: fit-content;
    width: 100%;
    position: sticky;
  }

  .picture-list-flex-box {
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-content: center;
    align-content: flex-start;
  }

  .picture-list-flex-box::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(49, 36, 36);
  }
  
  .picture-list-flex-box::-webkit-scrollbar-thumb {
    background: rgba(83, 113, 197, 0.829);
    border-radius: 5px;
  }
  
  .picture-list-picture-box{
   margin: 14px;
  }

  .picture-list-picture-box img{
    width: 6vw;
    height: 6vw;
  }

  .picture-list-active-image{
    transform: scale(1.1);
   border: 2px solid rgb(255, 255, 255);
  }

  #picture-fullscreen-button{
    font-size: 1.5em;
    cursor: pointer;
  }

  .picture-comment-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .comment-container{
    margin-top: 20px;
    align-self: center;
    color: white;
    width: 35vw;
    text-align: center;
  }

  .comment-container ul{
    list-style: none;
    padding: 0px;
  }

  .picture-comment {
    border-bottom: 2px solid black;
    text-align: left;
    position: relative;
  }

  .picture-comment-content {
    margin: 10px;
    font-size: 1em;
  }

  .picture-comment-date {
    position: absolute;
    right: 0px;
    font-size: 0.8em;
  }

  .picture-comment-author {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-left: 10px;
    position: relative;
  }

  .picture-comment-author img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .picture-info-container {
    height: fit-content;
    width: fit-content;
    background-color: #231A03;
    color: white;
    text-align: center;
    padding: 30px 40px 30px 40px;
    border-radius: 4%;
    position: sticky;
    top: 10vh;
  }

  .picture-info-container h2 {
    margin: 0px;
  }

  .picture-info-container img {
    margin: 20px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }

  .picture-info-username a{
    text-decoration: none;
  }
  
  .picture-info-username h2{
    color: white;
    margin-bottom: 20px;
    font-size: 1.4rem;
    text-decoration: none;
  }

  .picture-list-pseudo-element {
    width: 6vw;
    height: 0;
    margin: 14px;
  }

  .picture-container-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  .image-toggle-button {
    width: fit-content;
    height: fit-content;
    margin-left: 10px;
    background-color: #FFFFFF;
    cursor: pointer;
  }

  .picture-container {
    background-color: #231A03;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
    margin-top: 30px;
    height: fit-content;
    width: 40vw;
  }

  .picture-location-info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    min-height: fit-content;
    margin: auto;
  }

  #picture-location-info-map-icon {
    font-size: 2rem;
    margin-left: 10px;
    color: rgb(89, 120, 185)
  }

  @media (max-width: 1200px) {
    .picture-list-container, .picture-info-container{
      display: none;
    }
    .picture-comment-container {
      width: 80vw;
      align-items: center;
    }
    .picture-container {
      width: 60vw;
    }
    .comment-container {
      width: 50vw;
    }
  }

  @media (max-width: 940px) {
    .comment-container {
      width: 70vw;
    }
  }

  @media (max-width: 600px) {
    .comment-container {
      width: 90vw;
    }
  }