  .main-blog-page-container{
    background-color: white;
    height: 94vh;
    overflow-y: auto;
  }

  .vote-container {
    display: flex;
    margin-top: 20px;
  }

  #voted-star {
    color: gold
  }

  #voted-star:hover, #unvoted-star:hover {
      cursor: pointer;
  }
  
  #vote-count {
    position: relative;
    margin-left: 10px;
    margin-top: auto; 
    margin-bottom: auto;
  }

  .author-container {
    display: flex;
  }

  .author-picture {
    margin-top: auto;
    margin-bottom: auto; 
  }

  .blog-info-container {
    display: flex;  
  }

  .blog-info-date {
    margin-top: auto;
    margin-bottom: auto; 
    margin-left: 5px;
  }

  .author-username {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
  }

  .blog-comment-date {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
  }
  
  #blog-author-link {
    text-decoration: none;
    color: black;
  }

  #blog-title {
    text-align: center;
    font-size: 4em;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .blog-comment-form {
    text-align: center;
  }

  .comment-form-wrapper {
    position: relative;
    background-color: aliceblue;
    width: 100%;

    
  }

  .comment-form-main-container {
    display: inline-block;
    width: 80%;
  }
  
  #comment-form-input {
    height: 30px;
    width: 100%;
    padding:2px;
    
  }

  #comment-form-button {
    position: absolute;
    right: -3px;
    top: 50%;
    transform: translate(0, -50%);
    background-color: rgb(150, 16, 16);
    color: white
  }

  .blog-comment-section-container ul{
    list-style: none;
  }

  .blog-comment {
    height: fit-content;
    padding: 5px;
    border-bottom: 2px solid black;
    margin-top: 15px;
  }

  .blog-comment img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .blog-comment-top-section {
    position: relative;
    display: flex;
    margin-bottom: 15px;
  }

  .blog-comment-username {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    color: black;
    width: 100px;
    
  }
 
  .blog-comment-username a {
    text-decoration: none;
    color: rgb(33, 13, 122);
  }

  .blog-comment-content {
    font-size: 1.2em;
  }

  .picture-list-container{
    position: absolute;
    top: 10%;
    left: 5%;
    height: 600px;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 320px;
    background-color: #231A03;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    border-radius: 10px;
  }

  .picture-list-container::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(49, 36, 36);
  }
  
  .picture-list-container::-webkit-scrollbar-thumb {
    background: rgba(83, 113, 197, 0.829);
    border-radius: 5px;
  }
  
  .picture-list-picture-box{
   margin: 14px;
  }

  .picture-list-picture-box img{
    width: 120px;
    height: 120px;
  }

  .picture-list-active-image{
   transform: scale(1.1);
   border: 2px solid rgb(255, 255, 255);
  }

  #picture-fullscreen-button{
    font-size: 1.5em;
  }

  .picture-comment-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
  }

  .comment-container{
    margin-top: 20px;
    align-self: center;
    color: white;
  }