.user-page-main-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 94vh;
  max-height: 94vh;
  overflow-y: auto;
}

.user-page-user-info {
  position: relative;
  height: 330px;
  min-height: 330px;
  width: 300px;
  background-color: rgb(31, 25, 25);
  margin: 20px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-modal {
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  width: fit-content;
  max-width: 300px;
  height: fit-content;
  background-color: rgb(22, 27, 56);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.subscribe-modal-wrapper {
  position: relative;
  padding: 20px;
}

.subscribe-modal-checkbox > * {
  color: rgb(22, 167, 94);
}

.subscribe-modal table {
  width: 60%;
  align-self: center;
  text-align: left;
}

.subscription-modal-buttons {
  position: relative;
  justify-content: center;
  width: 100%;
}

#subscription-submit-button {
  width: fit-content;
  align-self: center;
  justify-self: center;
  color: white;
  background-color: green;
  margin-top: 10%;
}

#subscription-cancel-button {
  color: white;
  position: absolute;
  top: 0px;
  right: 0px;
  display: inline-block;
  font-weight: bold;
  width: 30px;
  text-align: center;
  height: 30px;
  background-color: rgb(51, 41, 41);
  border-radius: 50%;  
  cursor: pointer;
  border: none;
}


#subscription-cancel-button:hover {
  background-color: rgb(95, 78, 78);
}

.userpage-update-buttons {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  margin-bottom: 5%;
}

.username-change-input input[type='text'] {
  background: transparent;
  border: 2px solid white;
  color: white;
  font-size: 1.8em;
  width: 100%;
  text-align: center;
  margin-top: 22px;
  box-sizing: border-box;
}

.username-edit-container {
  position: relative;
  width: fit-content;
}

.username-edit-container:hover {
  cursor: pointer;
}

.username-edit-container:hover #username-edit-icon {
  color: rgb(180, 155, 9);
}

#username-edit-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  transform: translate(100%, 0px);
}

#userpage-avatar-edit-icon {
  position: absolute;
  right: 0px;
  top: 0px;
  transform: translate(100%, 0px);
}

.userpage-avatar-edit-container {
  cursor: pointer;
  position: relative;
}

.userpage-avatar-edit-container:hover #userpage-avatar-edit-icon {
  color: rgb(180, 155, 9);
}

.userpage-avatar-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.userpage-avatar-preview {
    cursor: pointer;
}

.userpage-user-info-table {
  width: 100%;
  text-align: left;
}

#userpage-subscribe-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  background-color: rgb(15, 88, 117);
}

#edit-profile-button {
  color: white;
  background-color: green;
  margin-bottom: 5%;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0);
}

#profile-update-cancel-button {
  margin-left: 5px;
  color: white;
}

#profile-update-submit-button {
  color: white;
  background-color: green;
  margin-left: 5px;
}

.userpage-blogs-container {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
}

.userpage-blogs-container p {
  width: 100%;
  text-align: center;
}

.userpage-pictures-container {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.userpage-pictures-container p{
  width: 100%;
  text-align: center;
}

#userpage-blog-delete-button {
  position: absolute;
  z-index: 5;
  right: 20px;
  top: 20px;
  cursor: pointer;
  color: white;
  background-color: rgb(128, 9, 9);
}

#userpage-picture-delete-button {
  position: absolute;
  z-index: 5;
  right: 0px;
  top: 0px;
  transform: translate(-25%, 50%);
  cursor: pointer;
  color: white;
  background-color: rgb(128, 9, 9);
}

.userpage-blog-card-wrapper, .userpage-pictures-wrapper{
  position: relative;
}

.userpage-content-title {
  text-align: center;
}

.userpage-blog-card-wrapper:hover #userpage-blog-delete-button {
}