.user-page-main-container{
    color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
}

.user-page-main-container img{
    width: 100px;
}

.user-page-user-info{
    position: relative;
    height: 300px;
    width: 300px;
    background-color: rgb(31, 25, 25);
    margin: 20px;
    text-align: center;  
}

.subscribe-modal{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    width: 20vw;
    height: 20vh;
    background-color: white;
}

.userpage-update-buttons {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0);
}