.map-filter-box{
    box-sizing: border-box;
    position: absolute;
    z-index: 100;
    height: fit-content;
    width: fit-content;
    background-color: rgba(10, 45, 85, 0.6);
    top: 30px;
    left: 50px;
    color: white;
    border-radius: 15px;
    padding: 15px;
}

.map-filter-box h1 {
    margin: 5px;
    text-align: center;
    font-size: 1.6rem;
}

.map-filter-box table{
  width: 100%;

}
.map-filter-box tr{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.map-settings{
    font-size: 2em;
    position: absolute;
    z-index: 100;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

.cluster-popup-main-container {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 40vw;
    width: fit-content;
    max-width: 58vw;
    height: 80vh;
    background-color: rgba(0,0,0,0.7);
    border-radius: 8px;
    padding: 10px;
    color: white;
    transform: translate(-50%, -50%);
    z-index: 999999;
}

#cluster-close-button {
    position: absolute;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    top: 0px;
    right: 0px;
    transform: translate(30%, -30%);
    cursor: pointer;
    outline: none;
    background-color: rgb(46, 39, 39);
    color: white;
}

#cluster-close-button:hover {
    background-color: red;
}

.map-picture-card {
    position: relative;
    width: 10vw;
    min-width: 200px;
    height: 15vw;
    min-height: 250px;
    border: 2px solid black;
    background-color: #191e36;
    color: white;
    text-align: center;
    border-radius: 5px;
    z-index: 99999;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.map-picture-card.map-picture {
    position: absolute;
    transform: translate(5%, -110%);
}

.map-picture-card-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.map-picture-card-title {
    box-sizing: border-box;
    padding: 10px;
    height: fit-content;
    display: flex;
    align-items: center;
}

.map-picture-card h2 {
    margin: auto;
    font-size: 1rem;
}

.map-picture-card img {
  width: 100%;
  height: 85%;
  object-fit: fill;
}

#map-picture-card-gallery-button {
    color: white;
}

#map-picture-card-gallery-button:hover {
    background-color: rgb(43, 62, 116);
}

.map-picture-card a {
    text-decoration: none;
}

#map-fullscreen-button {
    position: absolute;
    cursor: pointer;
    bottom: 0px;
    right: 0px;
    color: rgb(156, 139, 42);
}

#map-fullscreen-button > * {
    font-size: 2em;
}

.blog-card.map-blog-card {
    height: 13vw;
    width: 17vw;
    min-height: 180px;
    min-width: 250px;
    pointer-events: none;
    color: white;
    position: relative;
    margin: 0px;
    font-size: 1rem;
}

.blog-card.map-cluster-blog-card {
    height: 13vw;
    width: 17vw;
    min-height: 180px;
    min-width: 250px;
    overflow: hidden;
    margin: 10px;
    pointer-events: none;
    background-color: #191e36;
    font-size: 1rem;
}

.map-blog-card-wrapper {
    position: relative;
    width: fit-content;
    height: fit-content;
    transform: translate(10%, -110%);
}

.map-popup-close-button {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0px;
    right: 0px;
    transform: translate(50%, -50%);
    border-radius: 50%;
    font-weight: 700;
    background-color: rgb(46, 39, 39);
    color: white;
    border: 2px solid black;
    cursor: pointer;
    outline: none;
}

.map-popup-close-button:hover {
    background-color: red;
}

.cluster-content-container {
    box-sizing: border-box;
    position: relative;
    padding: 6px;
    height: 75vh;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
}

.cluster-content-container a{
    text-decoration: none;
    color: white;
}

.cluster-popup-wrapper {
    box-sizing: border-box;
    height: 80vh;
    width: 100%;
    overflow: hidden;
}

.cluster-popup-filters {
    font-size: 1.2em;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
